@font-face {
    font-family: gothamMed;
    src: url(https://a.storyblok.com/f/112136/x/5e402b0b67/gotham-medium.otf);
}

@font-face {
    font-family: gothamLight;
    src: url(https://a.storyblok.com/f/112136/x/1e7232d46e/gotham-book.otf);
}

@font-face {
    font-family: gothamBold;
    src: url(https://a.storyblok.com/f/112136/x/361f778928/gotham-bold.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: gothamLight, sans-serif;
    color: white;
}

body {
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 100vh;
    width: 100vw;
}

.headerContainer {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.title {
    font-size: 1.5rem;
    font-family: gothamBold, sans-serif;
    font-weight: bold;
}

.instruction {
    font-size: 0.9rem;
    margin-top: 1rem;
}

.image {
    max-height: 8rem;
    width: auto;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.navBtns {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 70%;
    transition: 1s ease;
}

.Btn{
    padding: 0.3rem 1rem;
    background-color: rgba(255, 255, 255, 0.358);
    cursor: pointer;
    border: solid 1px white;
    min-width: 8rem;
}

.Btn:hover{
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 4px;
    background-color: #A6529A;
    border: solid 1px #A6529A;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 220px;
    background-color: #172B49;
    box-shadow: rgba(0, 0, 0, 0.556) 0px 0px 4px;
}

.textContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cardBtnContainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.cardBtn {
    position: absolute;
    display: none;
    padding: 0.5rem 1rem;
    border-radius: 0;
    border: none;
    background-color: rgb(18, 169, 71);
    color: white;
    cursor: pointer;
    margin-top: -38.36px;
    margin-right: 6px;
}

.question {
    animation: displayChange 2s forwards;
}

.answer {
    display: none;
    transform: rotateY(180deg);
}

#cardBtnQuestion {
    display: none;
    transform: rotateY(180deg);
}

.answerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    padding: 1rem;
    gap: 0.5rem;
}

.answerImage{
    max-height: 100px;
    height: 0;
    margin-top: 1rem;
}

.input {
    width: auto;
    color: black;
    padding: 0.5rem 0.5rem;
    outline: none;
}

.answerValue{
    min-height: 27.93px;
}

.scoreContainer{
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

.submit{
    display: none;
    width: 100%;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #25517B;
    border: none;
}

.submit:hover{
    box-shadow: rgba(0, 0, 0, 0.419) 0 0px 4px;
    background-color: #A6529A;
}

.endImg{
    max-height: 12rem;
    width: auto;
    border-radius: 10px;
}

.endContainer{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    height: 100%;
    padding: 1rem; 
    padding-top: 6rem;
    font-size: 1.3rem;
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(-180deg);
    }
}

@keyframes rotateBack {
    0% {
        transform: rotateY(-180deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

@media (max-width: 450px) {
    .image {
        display: none;
    }

    .card{
        width: 100%;
    }
    .navBtns{
        width: 100%;
    }

    .scoreContainer{
        width: 100%;
    }
}